<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Schronisko</title>
</head>
<body>

<h3>Jakie zwierzaki Cię interesują?</h3>

<ul>
<li th:each="animal: ${animals}">
    <a th:href="'/animal/' + ${animal.id}" th:text="${animal.name}"  >Zobacz zwierzaka</a>
    <span th:text="' - ' + ${animal.type}"></span>
</li>
</ul>
<a href="/sortowanie">Sortuj zwierzaki</a>
</body>
</html>